	<main class="index">

	<header class="masthead d-flex">

	<div class="container text-center my-auto">

		<h1 class="mb-1">Mandale Mechaaaaa!!!</h1>
		<h3 class="mb-5"><em>Aplicale Simplex gato</em></h3>


	<div class="container p-4">
	<div class="row">

		<div class="col-md-4 mx-auto"><!--con el comando mx-auto que pongo ahi estoy centrando el formulario entero-->
		<div class="card" style="position: relative;left: 50%; top:30%; transform: translate(-50%, -50%); width:200%;">
			<div class="card-body">

				<form action="/links/add" method="POST">
					
					<!--
					<div class="form-group">
					-->
					
						
						
						
						Z = 
						<input type="text" name="valor_Z1" class="form-control" style="width:10%; display:inline-block; " placeholder="aZ" autofocus>
						.X1 + 
						<input type="text" name="valor_Z2" class="form-control" style="width:10%; display:inline-block; " placeholder="bZ" autofocus>
						.X2 +
						<input type="text" name="valor_Z3" class="form-control" style="width:10%; display:inline-block; " placeholder="cZ" autofocus>
						.X3 ==> 
						<input type="text" name="valor_Z4" class="form-control" style="width:10%; display:inline-block; " placeholder="MAX" autofocus>
						<br/><br/>
						
						
						R1 = 
						<input type="text" name="valor1_R1" class="form-control" style="width:10%; display:inline-block;" placeholder="a" autofocus><!-- el autofocus hace que se centre en ese input al carga la pag-->
						.X1 + 
						<input type="text" name="valor2_R1" class="form-control" style="width:10%; display:inline-block; " placeholder="b" autofocus>
						.X2 + 
						<input type="text" name="valor3_R1" class="form-control" style="width:10%; display:inline-block; " placeholder="c" autofocus>
						.X3 <= 
						<input type="text" name="independiente_R1" class="form-control" style="width:10%; display:inline-block; " placeholder="I1" autofocus>
						<br/><br/>
						
						
						R2 = 
						<input type="text" name="valor1_R2" class="form-control" style="width:10%; display:inline-block;" placeholder="a" autofocus><!-- el autofocus hace que se centre en ese input al carga la pag-->
						.X1 + 
						<input type="text" name="valor2_R2" class="form-control" style="width:10%; display:inline-block; " placeholder="b" autofocus>
						.X2 + 
						<input type="text" name="valor3_R2" class="form-control" style="width:10%; display:inline-block; " placeholder="c" autofocus>
						.X3 <= 
						<input type="text" name="independiente_R2" class="form-control" style="width:10%; display:inline-block; " placeholder="I2" autofocus>
						<br/><br/>
						
						
						R3 = 
						<input type="text" name="valor1_R3" class="form-control" style="width:10%; display:inline-block;" placeholder="a" autofocus><!-- el autofocus hace que se centre en ese input al carga la pag-->
						.X1 + 
						<input type="text" name="valor2_R3" class="form-control" style="width:10%; display:inline-block; " placeholder="b" autofocus>
						.X2 + 
						<input type="text" name="valor3_R3" class="form-control" style="width:10%; display:inline-block; " placeholder="c" autofocus>
						.X3 <= 
						<input type="text" name="independiente_R3" class="form-control" style="width:10%; display:inline-block; " placeholder="I3" autofocus>
						<br/><br/>
						
						
						
					<!--
					</div>
					-->
					
					<!--
					<div class="form-group">
						<input type="text" name="valor5" class="form-control" placeholder="Japish 2">
					</div>
					-->
					
					<div class="form-group">
						<button class="btn btn-success btn-block">
							Ramooon!!!
						</button>
					</div>

				</form>

			</div>

		</div>	
		
		<h3 class="mb-5"><em>Optimo:</em></h3>
		<h3 class="mb-5">{{punto_optimo}}</h3>
		
		</div>

	</div>
</div>
	
	<!--
	<h3 class="mb-5"><em>Optimo:</em></h3>
	<h3 class="mb-5">{{punto_optimo}}</h3>
	-->

	</div>

	</header>

</main>